@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<dynamic>

<div class="text-center">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Working hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeName</td>
                    <td class="@(employee.TotalHours < 100 ? "text-danger" : "")">@employee.TotalHours</td>
                </tr>
            }

        </tbody>
    </table>

    <img alt="Chart" src="/images/chart.png" />
</div>
